@page "/applications"

<PageTitle>Applications</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>Applications</h1>
    </CardHeader>
    <CardBody>
        <p>This is the placeholder content for the <b>Applications</b> page.</p>

        <div class="card">
            <div class="row row-cols-8 align-items-center py-2">
                <div class="col">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16">
                        <use href="files/bootstrap-icons-1.13.1/folder2.svg"></use>
                    </svg>
                    <span class="ps-2">Test</span>
                </div>
            </div>
        </div>
    </CardBody>
</Card>