@page "/counter"

<PageTitle>Counter</PageTitle>

<Card Class="shadow">
    <CardHeader>
        <h1>Counter</h1>
    </CardHeader>
    <CardBody>
        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </CardBody>
</Card>

@code {
    private class TestItem
    {
        public string test = "";
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
